body{
	font-size: 12px;
	background-color: #F5F5F5;
}
#now{
	width: 100%;
	height: 13.8rem;
	background: url('../img/screen.png'),linear-gradient(#3EBCFF,#49E6FF);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom center;
}
.now_city{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 1.57rem;
}
.now_air{
	width: 2.1rem;
	height: 1.26rem;
	background-color: #F1AB62;
	margin-left: 0.26rem;
	margin-top: 0.05rem;
	border-radius: 0.25rem;
	padding-top: 0.31rem;

}
.now_air h1,.now_air h2{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
}
.now_temp{
	font-size: 0.96rem;
	color: #fff;
	text-align: center;
	margin-top: 0.77rem;
}
.now_weather{

	font-size: 0.51rem;
	line-height: .51rem;
	color: #fff;
	text-align: center;
	margin-top: 0.9rem;
	
}
.now_win_box{

	font-size: 0.31rem;
	line-height: 0.31rem;
	color: #fff;
	text-align: center;
	margin-top: 0.54rem;
}
.now_gretting{


	font-size: 0.32rem;
	color: #fff;
	line-height: 0.32px;
	text-align: center;
	margin-top: 1.48rem;
}
.now_temp{
	line-height: 0.96rem;
}
#future{
	width: 100%;
	height: 3.09rem;
	background-color: #fff;
	border-bottom: 0.03rem solid #E4E4E4;
	padding:.72rem 0;

}
.future_box{
	width: 50%;
	height: 100%;
	float: left;
	padding: 0 0.58rem;
	font-size: 0.32rem;

}
.tody{
	border-right: 0.03rem solid #e4e4e4;

}
.future_top{
	width: 100%;
	height: 50%;
}
.future_date{
	float: left;
}
.future_top p{
	float: right;
}
.tody_img,.tomorrow_img{
	width: 0.72rem;
	height: 0.72rem;
	float: right;
}
#hours{
	width: 100%;
	height: 3.9rem;
	background-color: #FFFFFF;
    border-bottom: 0.03rem solid #E4E4E4;	
	border-top: 0.03rem solid #E4E4E4;
    margin-top: 0.3rem;	
    display: flex;
    overflow-x: scroll;
}
#hours li{
	width: 2rem;
	height: 100%;
	padding: .7rem 0 ;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	/* flex-direction: column; */
	flex-shrink: 0;


}
.hours_img{
	width: 1rem;
	height: 1rem;
	padding: 0 0.4rem;
	box-sizing: content-box;

}
.hours_time,.hours_temp2,.hours_temp,.hours_date,.future_week_li_temp,.future_week_li_temp1{
	font-size: .26rem;
}
#future_week{
	width: 100%;
	height: 11.9rem;
	background-color: #FFFFFF;
    border-bottom: 0.03rem solid #E4E4E4;	
	border-top: 0.03rem solid #E4E4E4;
	margin-top: 0.3rem;
	    display: flex;
    overflow-x: scroll;
}
.future_week_li{
	width: 2rem;
	height: 100%;
	padding: .94rem 0 ;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;

	flex-shrink: 0;
}
/* .hours_date{
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
   

} */
.future_week_li_temp,.hours_date,.future_week_li_temp1,.future_week_li_feng,.future_week_li_temp1,.future_week_li_feng{
    width: 1rem;
    height: 1rem;
    padding: 0 0.4rem;
    box-sizing: content-box;
    text-align: center;	
}
.future_week_weather,.future_week_li_feng,.future_week_li_ji{
	font-size: 0.26rem;
}
#hours::-webkit-scrollbar{
	display: none;
}
#future_week::-webkit-scrollbar{
	display: none;
}
#citys{
	width: 100vw;
	height:100vh;
	left: 0;
	background-color: #F6F6F6;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
	position:fixed;
}
header{
	width: 100%;
	height: 1.29rem;
	background-color: #fff;
	padding: 0 .29rem;
	display: flex ;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;




}
.search{
	width: 9.03rem;
	height: 0.87rem;
	background-color: #e2e2e2;
	border: 0;
	padding-left: 0.1rem;
	border-radius: 0.2rem;
}
.btn{
	font-size: 0.44rem;
	color: #76A9FF;
}
.remen{ 
	width: 100%;
	/* padding: 0.19rem 0 0 0.33rem; */
	padding-left: 0.33rem;
	padding-top: 0.19rem;	



 }
.remen h1{
	font-size: 0.44rem;
	color: #999;
}
.remen_city{ 
	width: 7.77rem; 
	padding: 0.2rem 0 0 0 ;
	overflow: hidden;
	margin-left: 

}
.remen_city li{
	width: 2.31rem;
	height: 0.84rem;
	background-color: #fff;
	border: 0.03rem solid #e0e0e0;
	font-size: 0.38rem;
	text-align: center;
	line-height: 0.84rem;
	float: left;
	border-radius: 0.1rem;
}
.remen_city_left{
	margin-left: 0.39rem;

}
.remen_city_top{
	margin-top: 0.39rem;
}
.city_top{
	margin-top: 0.45rem;
}
.big{
	width: 100%;
	height: 18.63rem;
    overflow-x: scroll;
    /* margin-top: 1.29rem; */
}