@font-face {
  font-family: 'iconfont';  /* project id 571272 */
  src: url('https://at.alicdn.com/t/font_571272_qv06553ar4sa714i.eot');
  src: url('https://at.alicdn.com/t/font_571272_qv06553ar4sa714i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_571272_qv06553ar4sa714i.woff') format('woff'),
  url('https:https://at.alicdn.com/t/font_571272_qv06553ar4sa714i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_571272_qv06553ar4sa714i.svg#iconfont') format('svg');
}
body{
	background: #fff;
}
/* 隐藏滚动条 */
.top::-webkit-scrollbar,.content::-webkit-scrollbar{
	display: none;
}
.head{
	width: 100%;
	height: 1.83rem;
	border-bottom: .01rem solid #ebebeb;
}
.head1{
	width:100% ;
	height: .95rem;
	margin:0 auto;
	background: #d33d3e;
}
.head1_wenzi{
	width: 1.99rem;
	height: .95rem;
	color: #fff;
	font-weight: bolder;
	font-size: .4rem;
	margin-left: .24rem;
	line-height: .95rem;
	float: left;
}
.head1_search{
	width: 4.53rem;
	height: .95rem;
	float: left;
	line-height:.45rem; 
}
.search{
	font-family: 'iconfont';
	width: 4.53rem;
	height: .6rem;
	border-radius: .1rem;
	border-width:0;
	margin-top:-.15rem;
	font-size: .3rem;
	color: #999999;
}
.top{
	position: relative;
	width: 7.02rem;
	height: .88rem;
	margin: 0 auto;
	line-height:.88rem; 
	/* background: aliceblue; */
	overflow: scroll;
	white-space: nowrap;
}
.top span{
	font-size: .34rem;
	font-weight: bold;
	padding-right: .28rem;
	float: left;
}
.top p{
	font-family: 'iconfont';
	position: absolute;
	right: 0;
	font-size: .32rem;
	width: .83rem;
	height: .88rem;
	text-align: center;
	background: #fff;
	border-left: .01rem solid #ebebeb;
	opacity: 0.8;
}
.top span:hover , .bottom ul li:hover h1 , .bottom ul li:hover h2{
	color:#d33d3e;
}
.content{
	position: absolute;
  	left: 0;
  	top: 1.83rem;
  	right: 0;
 	bottom: .98rem;
 	/* background: #f2f2f2;  */
	overflow: scroll;
}
.item1{
	width: 7.02rem;
	height: 3.27rem;
	margin: 0 auto;
	border-bottom: .01rem solid #ebebeb;
	position: relative;
}
.item1_wenzi{
	width: 100%;
	height: 1.09rem;
	/* background: lightyellow; */
	font-size: .32rem;
	padding-top:.22rem; 
}
.item1_img{
	width: 100%;
	height: 1.68rem;
}
.item1_img img{
	width: 2.3rem;
	height: 1.68rem;
	float: left;
}
.item1_img .item1_img2{
	margin:0 .06rem;
}
.item1 span{
	height: .18rem;
	font-size:.18rem;
	color: #818181;
	position: absolute;
	bottom: .2rem;
}
.item1_img3 img{
	width: 2.3rem;
	height: 1.68rem;
	border: .02rem;
	border-style: solid;
	border-color:  #ebebeb;
}
.bottom{
	width: 100%;
	height:.98rem; 
	background: #f2f2f2; 
	position: absolute;
	bottom: 0;
}
.bottom ul li{
	height: .71rem;
	float:left ;
	margin-left: 1.0rem;
}
.bottom ul li h1{
	font-family: 'iconfont';
	color: #000;
	font-size: .36rem;
	text-align: center;
	padding-top: .15rem;
}
.bottom ul li h2{
	font-size: .22rem;
	color: #818181;
}

